<h2><%= model_name.titleize %>: New</h2>

<%= admin_controls instance.pluralize, :for => :new %>

<%= error_messages_for instance %>

<% form_for(@m, :html => {:multipart => true}) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f, instance.to_sym => @m} %>
  <p><%= f.submit "Create" %></p>
<% end %>