<div id="<%= dom_id(@role) %>">
	<div class="fields_group">
	  <h5>Title:</h5>       <%= h @role.title %>
  	<h5>Description:</h5> <%= h @role.description %>
  	<h5>Created at:</h5>  <%= h @role.created_at %>
  	<h5>Updated at:</h5>  <%= h @role.updated_at %>
  </div>
</div>